.loader__container {
  display: grid;
  width: 100%;
  height: 100%;
  background-color: white;
  z-index: 4;
  padding: 16px;
  margin: auto;
  border-radius: 8px;

  div.loader {
    place-self: center;
    border: 5px solid white;
    border-top: 5px solid black;
    border-radius: 50%;
    width: 80px;
    height: 80px;
    animation: spin 2s linear infinite;
  }
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
